body{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 1.5;
    font-family: "Roboto","Arial", sans-serif;
}
*:focus{
  outline-width: 2px;
  outline-color: #FF7500;
  outline-offset:3px ;
  outline-style: dotted;
}
header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: #fff;
    padding-top: 16px;
    padding-bottom: 16px;
    border-top: 5px solid #FF7500;

}
.site-logo{
    transition: opacity 0.4s ease;
}
.site-logo:hover{
    opacity: 0.8;
}
.site-logo:active{
    opacity: 0.9;
}

.site-ul{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    margin-right: 32px;
    
}
.site-nav{
    margin-right: 32px;
    font-weight: 500;
    font-size: 15px;
    line-height: 15px;
    text-decoration: none;
    color: #000;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: color 0.5s ease;

}

.site-nav:hover{
    color: #FF7500;
    

}
.site-nav:active{
    color:#ff770080;

}


.button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 155px;
    height: 39px;
    background-color: #FF7500;
    color: #fff;
    padding: 12 24;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    transition: color 0.5s ease;
     

}
.button:hover{
    background-color: rgba(255, 119, 0, 0.8);
    color: #fff;
}
.button:active{
    background-color: rgba(255, 119, 0, 0.9);
    color: #fff;
}
.hero{
    display: flex;
    justify-content: space-between;
    background-color: #252420;
    color: #fff;
}
.hero-content{
    width: 387px;
    
}
.hero.img{
    width: 510px;
    height: 510px;
    
    
}
.hero-hr{
    width: 80px;
    height: 3px;
    margin: 0;
    margin-bottom: 40px;
    border: none;
    background:#FF7500;
    
}
.hero-h{
    margin-top: 0;
    margin-bottom: 24px;
    width: 340px;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 40px;
    letter-spacing: 0.5px;
    line-height: 1.2;
    padding: 30px;
    
}

.hero-p{
    margin-top: 0;
    margin-bottom: 32px;
    width: 388px;
    padding: 30px;
}

.line{
    width: 80px;
    height: 3px;
    background:#FF7500;
    
}
.section-h{
    font-family: "Roboto Condensed", sans-serif;
    font-size: 40px;
    letter-spacing: 0.5px;
    line-height: 1.2;
    padding: 30px;
}
.section-p{
    font-family: "Roboto Condensed", sans-serif;
    font-size: 40px;
    letter-spacing: 0.5px;
    line-height: 1.2;
    font-size: 25px;
}
.section-ul{

    display: flex;
    justify-content: space-between;
 
}
.section-text{
    font-weight: 400px;
    font-size: 16px;
    letter-spacing: 0.5;
    line-height: 150%;


}
.section-book{
    display: flex;
    justify-content: space-between;
    background: #252420;
    color: #fff;
}

.book-img{
width: 440px;
height: 440px;

}
.book-h{
    font-family: "Roboto Condensed", sans-serif;
    font-size: 40px;
    letter-spacing: 0.5px;
    line-height: 1.2;
    font-size: 40px;
    padding: 30px;

 
}

.book-p{
    width: 440px;
    height: 48px;
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 120%;
    padding: 30px;
   
}
footer{
    background-color: #fff;
}
.footer-tags{
    color: #000;
    text-decoration: none;
    transition: color 0.5s ease;
}
.footer-tags:hover{
    color: #FF7500;
}
.footer-tags:active{
    color: #ff770080;
}
.footer-logo{
    color: #252420;
}
.footer-logo:hover{
    color: #FF7500;
}
.footer-logo:active{
    opacity: 0.6;
}
.icon{
    width: 100px;
    height: 100px;
    
}
.footer-hr{
    
    height: 2px;
    background-color: rgba(37, 36, 32, 0.5);
}
ul{

    list-style-type:none;
}
.footer-div{
    display: flex;
    justify-content: space-between;

}
.main-ul{
    display: flex;
    justify-content: space-between;
}
.ul-ul{
    width: 104px;
    display: flex;
    justify-content: space-between;
}
.ul-ul svg{
    display: block;
}
.main-ul a{
    display: block;
}
.site-logo img{
    display: block;
}